.el-breadcrumb {
  height: 40px;
  background: #d4dae0;
  line-height: 40px;
  padding-left: 30px;
}
.col1 {
  border-bottom: 1px dashed #ccc;
  margin-top: 10px;
}
.col1:last-child {
  border-bottom: none;
}
.col2 {
  margin-bottom: 10px;
}
.tag {
  margin: 0 3px;
}
