<div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>用户管理</el-breadcrumb-item>
        <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-row>
        <el-col :span="8">
            <el-input placeholder="请输入内容" v-model="input3">
                <el-button slot="append" icon="el-icon-search" @click="search"></el-button>
            </el-input>
        </el-col>
        <el-col :span="8" class="col2">
            <el-button @click="showAddDialog">添加用户</el-button>
        </el-col>
    </el-row>
    <el-table :data="userData" style="width: 100%">
        <el-table-column prop="username" label="姓名" width="180">
        </el-table-column>
        <el-table-column prop="email" label="邮箱" width="180">
        </el-table-column>
        <el-table-column prop="mobile" label="电话">
        </el-table-column>
        <el-table-column label="状态">
            <template slot-scope="scope">
                <el-switch v-model="scope.row.mg_state" @change="changeState(scope.row)">
                </el-switch>
            </template>
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button type="primary" icon="el-icon-edit" plain size="mini" @click=showEditUser(scope.row)>
                </el-button>
                <el-button type="danger" icon="el-icon-delete" plain size="mini" @click=deleUser(scope.row)></el-button>
                <el-button type="success" icon="el-icon-check" plain size="mini">分配角色</el-button>
            </template>
        </el-table-column>
    </el-table>
    </template>
    <el-pagination background layout="prev, pager, next" :total="total" :page-size="2" :current-page="pagenum"
        @current-change="currentChange">
    </el-pagination>
    <el-dialog title="添加用户" :visible.sync="dialogAddUserVisible" @closed="addFormClear">
        <el-form :model="addUserForm" label-width="80px" :rules="rules" ref="addUserRef">
            <el-form-item label="用户名" prop="username">
                <el-input v-model="addUserForm.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input v-model="addUserForm.password" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="邮箱" prop="email">
                <el-input v-model="addUserForm.email" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="手机" psrop="mobile">
                <el-input v-model="addUserForm.mobile" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogAddUserVisible = false">取 消</el-button>
            <el-button type="primary" @click="addUser">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog title="编辑用户" :visible.sync="dialogEditUserVisible">
        <el-form :model="editUserForm" label-width="80px">
            <el-form-item label="用户名">
                <el-tag type="info">{{ editUserForm.username }}</el-tag>
            </el-form-item>
            <el-form-item label="邮箱">
                <el-input v-model="editUserForm.email" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="手机">
                <el-input v-model="editUserForm.mobile" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogEditUserVisible = false">取 消</el-button>
            <el-button type="primary" @click="editUser">确 定</el-button>
        </div>
    </el-dialog>
</div>
